*, *::after, *::before {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: black;

    font-family: 'Russo one';
    font-size: 15px;
    line-height: 1.6;
}



/* типо наше название */
.blok {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}




/* шапка */
.header {

    width: 100%;
    background:url("../lol/r2.png.png") center no-repeat;
    filter: blur(0.6px);
    background-size: cover;
    height: CALC(95vh - 15px + 48px);
    
}


.logotip {
    font-size: 30px;
    color: white;

}

.nav {
    font-size: 14px;
    text-transform: uppercase;

}



.nav_link {
    font-size: 16px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

}


.header__up {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.opisanie {
    font-size: 18px;
    color: white;
}


.main{
    width: 100%;
    height: 100vh;  
}
